In [ ]:
# #1. read_csv()
# #Use: Read data from a CSV file.
# import pandas as pd
# df = pd.read_csv('data.csv')

# #read_excel()
# df = pd.read_excel('data.xlsx', sheet_name='Sheet1')

# #read_json()
# df = pd.read_json('data.json')

# #read_html()
# tables = pd.read_html('https://example.com/table.html')
# df = tables[0]

# #read_sql()
# import sqlite3
# conn = sqlite3.connect('database.db')
# query = "SELECT * FROM table_name"
# df = pd.read_sql(query, conn)
# print(df.head())

# #read_sql_table()
# from sqlalchemy import create_engine
# engine = create_engine('sqlite:///database.db')
# df = pd.read_sql_table('table_name', engine)
# print(df.head())


# #read_sql_query()
# from sqlalchemy import create_engine
# engine = create_engine('sqlite:///database.db')
# query = "SELECT * FROM table_name WHERE column_name = 'value'"
# df = pd.read_sql_query(query, engine)
# print(df.head())

# #read_parquet()
# df = pd.read_parquet('data.parquet')
# print(df.head())

# #read_feather()
# df = pd.read_feather('data.feather')
# print(df.head())

# #read_hdf()
# df = pd.read_hdf('data.h5', key='table')
# print(df.head())

Filtering data in Pandas is one of the most common operations in data analysis. You can filter rows or columns based on conditions using various methods. Below are the most commonly used techniques for filtering data in Pandas, along with examples:

# Column based Filtering

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)

In [ ]:
df.head()

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

# Filter Age is greater than 30

In [ ]:
df['Age'] > 30

0    False
1    False
2     True
3     True
Name: Age, dtype: bool

In [ ]:
print(df['Age'] > 30)

0    False
1    False
2     True
3     True
Name: Age, dtype: bool

In [ ]:
(df['Age'] > 30).to_xarray()

<xarray.DataArray 'Age' (index: 4)> Size: 4B
array([False, False,  True,  True])
Coordinates:
  * index    (index) int64 32B 0 1 2 3

In [ ]:
x = (df['Age'] > 30).to_list()

In [ ]:
filtered_df = df[x]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

In [ ]:
# Filter rows where Age > 30
filtered_df = df[df['Age'] > 30]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

#Filter Rows Using loc[]

In [ ]:
df.head()

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [ ]:
# Filter rows where City is 'Chicago' and select the 'Name' column
filtered_df = df.loc[df['City'] == 'Chicago', 'Name']
print(filtered_df)

2    Charlie
Name: Name, dtype: object

In [ ]:
# Filter rows where City is 'Chicago' and select the 'Name' and 'Age' column
filtered_df = df.loc[df['City'] == 'Chicago', ['Name','Age']]
filtered_df

      Name  Age
2  Charlie   35

In [ ]:
type(filtered_df)

pandas.core.frame.DataFrame

# Filter Rows Using query()

In [ ]:
df.head()

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [ ]:
# Filter rows where Age > 30
filtered_df = df.query('Age > 30')
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

In [ ]:
# Filter rows where Age > 30
filtered_df = df.query('Age > 30' and 'City == "Chicago"')
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago

# Filter Rows with Multiple Conditions

In [ ]:
# Filter rows where Age > 30 AND City is 'Houston'
filtered_df = df[(df['Age'] > 30) & (df['City'] == 'Houston')]
print(filtered_df)

    Name  Age     City
3  David   40  Houston

In [ ]:
# Filter rows where Age > 30 AND City is 'Houston'
filtered_df = df[(df['Age'] > 30) | (df['City'] == 'Houston')]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

In [ ]:
# Filter rows where Age > 30 AND City is 'Houston'
filtered_df = df[(df['Age'] > 30) & ~(df['City'] == 'Houston')]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago

# Filter Rows Using isin()

In [ ]:
df['City'].isin(['New York', 'Chicago'])

0     True
1    False
2     True
3    False
Name: City, dtype: bool

In [ ]:
# Filter rows where City is either 'New York' or 'Chicago'
filtered_df = df[df['City'].isin(['New York', 'Chicago'])]
print(filtered_df)

      Name  Age      City
0    Alice   25  New York
2  Charlie   35   Chicago

# Filter Rows Using str.contains()

In [ ]:
df['Name'].str.contains('a')

0    False
1    False
2     True
3     True
Name: Name, dtype: bool

In [ ]:
# Filter rows where Name contains 'a'
filtered_df = df[df['Name'].str.contains('a')]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

# Filter Rows Using between()

In [ ]:
df['Age'].between(30, 40)

0    False
1     True
2     True
3     True
Name: Age, dtype: bool

In [ ]:
# Filter rows where Age is between 30 and 40
filtered_df = df[df['Age'].between(30, 40)]
print(filtered_df)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

# Filter Rows Using notna() or isna()
# Null value filtering

In [ ]:
df['Age'].notna()

0    True
1    True
2    True
3    True
Name: Age, dtype: bool

In [ ]:
df['Age'].isna()

0    False
1    False
2    False
3    False
Name: Age, dtype: bool

In [ ]:
# Filter rows where Age is not null
filtered_df = df[df['Age'].notna()]
print(filtered_df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [ ]:
# Filter rows where Age is not null
filtered_df = df[df['Age'].isna()]
print(filtered_df)

Empty DataFrame
Columns: [Name, Age, City]
Index: []

#  Filter Rows Using iloc[]

In [ ]:
# Select the first 2 rows
filtered_df = df.iloc[:2]
print(filtered_df)

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

# Filter Rows Using where()

In [ ]:
# Replace rows where Age <= 30 with NaN
filtered_df = df.where(df['Age'] > 30)
print(filtered_df)

      Name   Age     City
0      NaN   NaN      NaN
1      NaN   NaN      NaN
2  Charlie  35.0  Chicago
3    David  40.0  Houston

#  Filter Rows Using nlargest() or nsmallest()

In [ ]:
# Filter rows with the 2 largest ages
filtered_df = df.nlargest(2, 'Age')
print(filtered_df)

      Name  Age     City
3    David   40  Houston
2  Charlie   35  Chicago

In [ ]:
# Filter rows with the 2 largest ages
filtered_df = df.nsmallest(2, 'Age')
print(filtered_df)

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

# Filter Rows Using Custom Functions

In [ ]:
df['Name'].apply(lambda x: x.startswith('A'))

0     True
1    False
2    False
3    False
Name: Name, dtype: bool

In [ ]:
# Filter rows where Name starts with 'A'
filtered_df = df[df['Name'].apply(lambda x: x.startswith('A'))]
print(filtered_df)

    Name  Age      City
0  Alice   25  New York

In [ ]:
# Filter rows where 'Name' contains the letter 'a'
filtered_df = df[df['Name'].apply(lambda x: 'a' in x.lower())]
print(filtered_df)

      Name  Age      City
0    Alice   25  New York
2  Charlie   35   Chicago
3    David   40   Houston

In [ ]:
# Filter rows where the length of 'Name' is greater than 4
filtered_df = df[df['Name'].apply(lambda x: len(x) > 4)]
print(filtered_df)

      Name  Age      City
0    Alice   25  New York
2  Charlie   35   Chicago
3    David   40   Houston

In [ ]:
# Filter rows where 'Name' starts with 'A' or ends with 'e'
filtered_df = df[df['Name'].apply(lambda x: x.startswith('A') or x.endswith('e'))]
print(filtered_df)

      Name  Age      City
0    Alice   25  New York
2  Charlie   35   Chicago

In [ ]:
# Define a custom function
def is_vowel_name(name):
    vowels = ['A', 'E', 'I', 'O', 'U']
    return name[0].upper() in vowels

# Filter rows where 'Name' starts with a vowel
filtered_df = df[df['Name'].apply(is_vowel_name)]
print(filtered_df)

    Name  Age      City
0  Alice   25  New York

In [ ]:
# Filter rows where the square of 'Age' is greater than 1000
filtered_df = df[df['Age'].apply(lambda x: x**2 > 1000)]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

In [ ]:
# Filter rows where 'Name' length is greater than the value in 'Age'
filtered_df = df[df.apply(lambda row: len(row['Name']) != row['Age'], axis=1)]
print(filtered_df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [ ]:
# Filter rows where 'Name' starts with 'A' AND 'Age' is greater than 20
filtered_df = df[df.apply(lambda row: row['Name'].startswith('A') and row['Age'] > 20, axis=1)]
print(filtered_df)

    Name  Age      City
0  Alice   25  New York

# Filter Rows Using query() with Variables

In [ ]:
min_age = 32
filtered_df = df.query('Age > @min_age')
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

# Rename Columns in pandas

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)
print(df)
# df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
# print(df)

    Name  Age
0  Alice   25
1    Bob   30

# Change Column Data Type

In [ ]:
df['Age'] = df['Age'].astype(float)
print(df.dtypes)

Name     object
Age     float64
dtype: object

# Add a New Column or Drop a New Column

In [ ]:
df['City'] = ['New York', 'Los Angeles']
print(df)

    Name   Age         City
0  Alice  25.0     New York
1    Bob  30.0  Los Angeles

In [ ]:
df = df.drop(columns=['City'])
print(df)

    Name   Age
0  Alice  25.0
1    Bob  30.0

# Sorting of Dataframe

In [ ]:
df = df.sort_values(by='Age', ascending=False)
print(df)

    Name   Age
1    Bob  30.0
0  Alice  25.0

In [ ]:
df = df.sort_values(by='Age', ascending=True)
print(df)

    Name   Age
0  Alice  25.0
1    Bob  30.0

# reset index

In [ ]:
df = df.reset_index(drop=True)
print(df)

    Name   Age
0  Alice  25.0
1    Bob  30.0

# Fill Missing Values

In [ ]:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, np.nan],
    'C': [1, np.nan, np.nan, 4, 5]
}
df = pd.DataFrame(data)
print(df)

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  NaN
3  4.0  4.0  4.0
4  5.0  NaN  5.0

In [ ]:
# Fill all missing values with 0
df_filled = df.fillna(0)
print(df_filled)

     A    B    C
0  1.0  0.0  1.0
1  2.0  2.0  0.0
2  0.0  3.0  0.0
3  4.0  4.0  4.0
4  5.0  0.0  5.0

In [ ]:
# Fill missing values in column 'A' with 0 and column 'B' with 1
df_filled = df.fillna({'A': 0, 'B': 1})
print(df_filled)

     A    B    C
0  1.0  1.0  1.0
1  2.0  2.0  NaN
2  0.0  3.0  NaN
3  4.0  4.0  4.0
4  5.0  1.0  5.0

In [ ]:
# Forward fill missing values
df_filled = df.fillna(method='ffill')
print(df_filled)

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  1.0
2  2.0  3.0  1.0
3  4.0  4.0  4.0
4  5.0  4.0  5.0

<ipython-input-54-5a55e225bc4f>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df.fillna(method='ffill')

In [ ]:
# Backward fill missing values
df_filled = df.fillna(method='bfill')
print(df_filled)

     A    B    C
0  1.0  2.0  1.0
1  2.0  2.0  4.0
2  4.0  3.0  4.0
3  4.0  4.0  4.0
4  5.0  NaN  5.0

<ipython-input-55-d1e23c3ed986>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df.fillna(method='bfill')

In [ ]:
# Fill missing values with the mean of each column
df_filled = df.fillna(df.mean())
print(df_filled)

     A    B         C
0  1.0  3.0  1.000000
1  2.0  2.0  3.333333
2  3.0  3.0  3.333333
3  4.0  4.0  4.000000
4  5.0  3.0  5.000000

In [ ]:
# Fill missing values with the median of each column
df_filled = df.fillna(df.median())
print(df_filled)

     A    B    C
0  1.0  3.0  1.0
1  2.0  2.0  4.0
2  3.0  3.0  4.0
3  4.0  4.0  4.0
4  5.0  3.0  5.0

In [ ]:
# Fill missing values with the mode of each column
df_filled = df.fillna(df.mode().iloc[0])
print(df_filled)

     A    B    C
0  1.0  2.0  1.0
1  2.0  2.0  1.0
2  1.0  3.0  1.0
3  4.0  4.0  4.0
4  5.0  2.0  5.0

In [ ]:
# Fill missing values using linear interpolation
df_filled = df.interpolate()
print(df_filled)

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  3.0
3  4.0  4.0  4.0
4  5.0  4.0  5.0

In [ ]:
# Fill missing values using a custom function
df_filled = df.fillna(df.max())  # Fill with the maximum value of each column
print(df_filled)

     A    B    C
0  1.0  4.0  1.0
1  2.0  2.0  5.0
2  5.0  3.0  5.0
3  4.0  4.0  4.0
4  5.0  4.0  5.0

In [ ]:
# Fill missing values in a string column with 'Unknown'
df['C'] = df['C'].fillna('Unknown')
print(df)

     A    B        C
0  1.0  NaN      1.0
1  2.0  2.0  Unknown
2  NaN  3.0  Unknown
3  4.0  4.0      4.0
4  5.0  NaN      5.0

In [ ]:
# Fill missing values using a rolling window (forward fill with a window of 2)
df_filled = df.fillna(method='ffill', limit=2)
print(df_filled)

     A    B        C
0  1.0  NaN      1.0
1  2.0  2.0  Unknown
2  2.0  3.0  Unknown
3  4.0  4.0      4.0
4  5.0  4.0      5.0

<ipython-input-62-ca072bfff7c7>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df.fillna(method='ffill', limit=2)

In [ ]:
# Create a time-series DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=5),
    'Value': [1, np.nan, np.nan, 4, 5]
})
df = df.set_index('Date')

# Forward fill missing values
df_filled = df.fillna(method='ffill')
print(df_filled)

            Value
Date
2023-01-01    1.0
2023-01-02    1.0
2023-01-03    1.0
2023-01-04    4.0
2023-01-05    5.0

<ipython-input-63-d6232ab99386>:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df.fillna(method='ffill')

In [ ]:
# Interpolate missing values based on time
df_filled = df.interpolate(method='time')
print(df_filled)

            Value
Date
2023-01-01    1.0
2023-01-02    2.0
2023-01-03    3.0
2023-01-04    4.0
2023-01-05    5.0

In [ ]:
# Fill missing values with custom values for each column
df_filled = df.fillna({'A': 100, 'B': 200, 'C': 300})
print(df_filled)

            Value
Date
2023-01-01    1.0
2023-01-02    NaN
2023-01-03    NaN
2023-01-04    4.0
2023-01-05    5.0

# Drop Rows with Missing Values

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)
# df = df.rename(columns={'Name': 'Full Name', 'Age': 'Years'})
# print(df)

In [ ]:
df = df.dropna()
print(df)

    Name  Age
0  Alice   25
1    Bob   30

#Replace Values

In [ ]:
df['Age'] = df['Age'].replace(25, 26)
print(df)

    Name  Age
0  Alice   26
1    Bob   30

In [ ]:
df['Age'] = df['Age'].apply(lambda x: x + 1)
print(df)

    Name  Age
0  Alice   27
1    Bob   31

# Explode a List Column

In [ ]:
df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Hobbies': [['Reading', 'Swimming'], ['Cooking']]})
print(df)
df = df.explode('Hobbies')
print(df)

    Name              Hobbies
0  Alice  [Reading, Swimming]
1    Bob            [Cooking]
    Name   Hobbies
0  Alice   Reading
0  Alice  Swimming
1    Bob   Cooking

In [ ]:
data = {
    'Name': ['Alice', 'Bob'],
    'Hobbies': [['Reading', 'Swimming'], ['Cooking']],
    'Skills': [['Python', 'SQL'], ['Excel']]
}
df = pd.DataFrame(data)
print(df)
# Explode 'Hobbies' first
df = df.explode('Hobbies')
print(df)
# Explode 'Skills' next
df = df.explode('Skills')
print(df)

    Name              Hobbies         Skills
0  Alice  [Reading, Swimming]  [Python, SQL]
1    Bob            [Cooking]        [Excel]
    Name   Hobbies         Skills
0  Alice   Reading  [Python, SQL]
0  Alice  Swimming  [Python, SQL]
1    Bob   Cooking        [Excel]
    Name   Hobbies  Skills
0  Alice   Reading  Python
0  Alice   Reading     SQL
0  Alice  Swimming  Python
0  Alice  Swimming     SQL
1    Bob   Cooking   Excel

In [ ]:
data = {
    'Name': ['Alice', 'Bob'],
    'Hobbies': [['Reading', 'Swimming'], ['Cooking']],
    'Skills': [['Python', 'SQL'], ['Excel']]
}
df = pd.DataFrame(data)
exploded_df = df.explode('Hobbies').reset_index(drop=True)
print(exploded_df)

    Name   Hobbies         Skills
0  Alice   Reading  [Python, SQL]
1  Alice  Swimming  [Python, SQL]
2    Bob   Cooking        [Excel]

In [ ]:
data = {
    'Name': ['Alice', 'Bob'],
    'Activities': [[['Reading', 'Writing'], ['Swimming']], [['Cooking']]]
}
df = pd.DataFrame(data)

# First, explode the outer list
df = df.explode('Activities')
print(df)
# Then, explode the inner list
df = df.explode('Activities')
print(df)

    Name          Activities
0  Alice  [Reading, Writing]
0  Alice          [Swimming]
1    Bob           [Cooking]
    Name Activities
0  Alice    Reading
0  Alice    Writing
0  Alice   Swimming
1    Bob    Cooking

In [ ]:
import json

# JSON data with nested lists
json_data = '''
[
    {"Name": "Alice", "Hobbies": ["Reading", "Swimming"]},
    {"Name": "Bob", "Hobbies": ["Cooking"]}
]
'''
data = json.loads(json_data)
df = pd.DataFrame(data)

# Explode the 'Hobbies' column
exploded_df = df.explode('Hobbies')
print(exploded_df)

    Name   Hobbies
0  Alice   Reading
0  Alice  Swimming
1    Bob   Cooking

# Group By and Aggregate

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Alice'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)
grouped_df = df.groupby('Name').agg({'Age': 'mean'}).rename(columns = {'Age': 'Mean_Age'})
print(grouped_df)

    Name  Age
0  Alice   25
1    Bob   30
2  Alice   35
       Mean_Age
Name
Alice      30.0
Bob        30.0

In [ ]:
import pandas as pd

# Sample data
data = {
    'Category': ['A', 'A', 'B', 'B', 'A'],
    'Values': [10, 15, 20, 25, 30]
}
df = pd.DataFrame(data)

# Group by 'Category' and calculate the mean of 'Values'
grouped_df = df.groupby('Category')['Values'].mean()
print(grouped_df)

Category
A    18.333333
B    22.500000
Name: Values, dtype: float64

In [ ]:
# Group by 'Category' and calculate multiple statistics for 'Values'
grouped_df = df.groupby('Category')['Values'].agg(['mean', 'sum', 'count']).reset_index()
print(grouped_df)

  Category       mean  sum  count
0        A  18.333333   55      3
1        B  22.500000   45      2

In [ ]:
# Sample data
data = {
    'Category': ['A', 'A', 'B', 'B', 'A'],
    'Values1': [10, 15, 20, 25, 30],
    'Values2': [5, 10, 15, 20, 25]
}
df = pd.DataFrame(data)

# Group by 'Category' and aggregate multiple columns
grouped_df = df.groupby('Category').agg({
    'Values1': ['sum','mean'],
    'Values2': ['mean', 'std']
})
print(grouped_df)

         Values1               Values2
             sum       mean       mean        std
Category
A             55  18.333333  13.333333  10.408330
B             45  22.500000  17.500000   3.535534

In [ ]:
# Sample data
data = {
    'Category': ['A', 'A', 'B', 'B', 'A'],
    'Values1': [10, 15, 20, 25, 30],
    'Values2': [5, 10, 15, 20, 25]
}
df = pd.DataFrame(data)

# Group by 'Category' and aggregate multiple columns
grouped_df = df.groupby('Category').agg({
    'Values1': ['sum','mean'],
    'Values2': ['mean', 'std']
}).reset_index()
print(grouped_df)

  Category Values1               Values2
               sum       mean       mean        std
0        A      55  18.333333  13.333333  10.408330
1        B      45  22.500000  17.500000   3.535534

In [ ]:
# Group by 'Category' and use named aggregations
grouped_df = df.groupby('Category').agg(
    total_values1=('Values1', 'sum'),
    average_values1=('Values1', 'sum'),
    average_values2=('Values2', 'mean'),
    std_values2=('Values2', 'std')
).reset_index()
print(grouped_df)

  Category  total_values1  average_values1  average_values2  std_values2
0        A             55               55        13.333333    10.408330
1        B             45               45        17.500000     3.535534

In [ ]:
grouped_df.columns

MultiIndex([('Category',     ''),
            ( 'Values1',  'sum'),
            ( 'Values1', 'mean'),
            ( 'Values2', 'mean'),
            ( 'Values2',  'std')],
           )

In [ ]:
# Define a custom aggregation function
def range_agg(x):
    return x.max() - x.min()

# Group by 'Category' and apply the custom function
grouped_df = df.groupby('Category')['Values1'].agg(range_agg)
print(grouped_df)

Category
A    20
B     5
Name: Values1, dtype: int64

In [ ]:
# Sample data
data = {
    'Category': ['A', 'A', 'B', 'B', 'A'],
    'Subcategory': ['X', 'X', 'Y', 'Y', 'X'],
    'Values': [10, 15, 20, 25, 30]
}
df = pd.DataFrame(data)

# Group by 'Category' and 'Subcategory', then calculate the sum of 'Values'
grouped_df = df.groupby(['Category', 'Subcategory'])['Values'].sum()
print(grouped_df)

Category  Subcategory
A         X              55
B         Y              45
Name: Values, dtype: int64

In [ ]:
# Define a custom function
def normalize(x):
    return (x - x.mean()) / x.std()

# Group by 'Category' and apply the custom function
grouped_df = df.groupby('Category')['Values'].apply(normalize)
print(grouped_df)

Category
A         0   -0.800641
          1   -0.320256
          4    1.120897
B         2   -0.707107
          3    0.707107
Name: Values, dtype: float64

In [ ]:
# Group by 'Category' and generate descriptive statistics for 'Values'
grouped_df = df.groupby('Category')['Values'].describe()
print(grouped_df)

          count       mean        std   min    25%   50%    75%   max
Category
A           3.0  18.333333  10.408330  10.0  12.50  15.0  22.50  30.0
B           2.0  22.500000   3.535534  20.0  21.25  22.5  23.75  25.0

In [ ]:
# Group by 'Category' and calculate the cumulative sum of 'Values'
df['Cumulative Sum'] = df.groupby('Category')['Values'].cumsum()
print(df)

  Category Subcategory  Values  Cumulative Sum
0        A           X      10              10
1        A           X      15              25
2        B           Y      20              20
3        B           Y      25              45
4        A           X      30              55

In [ ]:
# Group by 'Category' and calculate the mean of 'Values' for each group
df['Group Mean'] = df.groupby('Category')['Values'].transform('mean')
print(df)

  Category Subcategory  Values  Cumulative Sum  Group Mean
0        A           X      10              10   18.333333
1        A           X      15              25   18.333333
2        B           Y      20              20   22.500000
3        B           Y      25              45   22.500000
4        A           X      30              55   18.333333

In [ ]:
# Filter groups where the sum of 'Values' is greater than 50
filtered_df = df.groupby('Category').filter(lambda x: x['Values'].sum() > 50)
print(filtered_df)

  Category Subcategory  Values  Cumulative Sum  Group Mean
0        A           X      10              10   18.333333
1        A           X      15              25   18.333333
4        A           X      30              55   18.333333

# Pivot Table

Pivot tables in Pandas are a powerful tool for summarizing and analyzing data. They allow you to reshape, aggregate, and analyze your data in a way that makes it easier to extract insights.

In [ ]:
import pandas as pd

# Sample data
data = {
    'Date': ['2023-10-01', '2023-10-01', '2023-10-02', '2023-10-02'],
    'Product': ['A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 250]
}

df = pd.DataFrame(data)
print(df)
# Create a pivot table
pivot_table = pd.pivot_table(df, values='Sales', index='Date', columns='Product', aggfunc='sum')

print(pivot_table)

         Date Product  Sales
0  2023-10-01       A    100
1  2023-10-01       B    150
2  2023-10-02       A    200
3  2023-10-02       B    250
Product       A    B
Date
2023-10-01  100  150
2023-10-02  200  250

In [ ]:
pivot_table = pd.pivot_table(df, values='Sales', index='Date', columns='Product', aggfunc=['sum', 'mean'])

print(pivot_table)

            sum        mean
Product       A    B      A      B
Date
2023-10-01  100  150  100.0  150.0
2023-10-02  200  250  200.0  250.0

In [ ]:
# Adding a 'Region' column
df['Region'] = ['North', 'South', 'North', 'South']

# Create a pivot table with multiple indexes
pivot_table = pd.pivot_table(df, values='Sales', index=['Date', 'Region'], columns='Product', aggfunc='sum')

print(pivot_table)

Product                A      B
Date       Region
2023-10-01 North   100.0    NaN
           South     NaN  150.0
2023-10-02 North   200.0    NaN
           South     NaN  250.0

In [ ]:
pivot_table = pd.pivot_table(df, values='Sales', index=['Date', 'Region'], columns='Product', aggfunc='sum', fill_value=0)

print(pivot_table)

Product              A    B
Date       Region
2023-10-01 North   100    0
           South     0  150
2023-10-02 North   200    0
           South     0  250

In [ ]:
pivot_table = pd.pivot_table(df, values='Sales', index=['Date', 'Region'], columns='Product',
                             aggfunc='sum', margins=True, margins_name='Total',fill_value=0)

print(pivot_table)

Product              A    B  Total
Date       Region
2023-10-01 North   100    0    100
           South     0  150    150
2023-10-02 North   200    0    200
           South     0  250    250
Total              300  400    700

This calculates the difference between the maximum and minimum sales for each product on each date region wise.

In [ ]:
# Custom aggregation function
def max_min_diff(x):
    return x.max() - x.min()

pivot_table = pd.pivot_table(df, values='Sales', index=['Date', 'Region'], columns='Product', aggfunc=max_min_diff)

print(pivot_table)

Product              A    B
Date       Region
2023-10-01 North   0.0  NaN
           South   NaN  0.0
2023-10-02 North   0.0  NaN
           South   NaN  0.0

#Melting

The melt function in Pandas is used to transform\
a DataFrame from a wide format to a long format.\
This is particularly useful when you have columns\
that represent variables, and you want to reshape\
the data so that each variable is in its own row.\
Below are some examples of how to use the melt function.

In [ ]:
import pandas as pd

# Sample data
data = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [90, 85, 88],
    'Science': [95, 80, 92]
}

df = pd.DataFrame(data)
print(df)
print("------------------")
# Melt the DataFrame
melted_df = pd.melt(df, id_vars=['ID', 'Name'], var_name='Subject', value_name='Score')

print(melted_df)

   ID     Name  Math  Science
0   1    Alice    90       95
1   2      Bob    85       80
2   3  Charlie    88       92
------------------
   ID     Name  Subject  Score
0   1    Alice     Math     90
1   2      Bob     Math     85
2   3  Charlie     Math     88
3   1    Alice  Science     95
4   2      Bob  Science     80
5   3  Charlie  Science     92

In [ ]:
#Melting with Multiple Value Columns

# Sample data with multiple value columns
data = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math_Score': [90, 85, 88],
    'Science_Score': [95, 80, 92],
    'English_Score': [89, 91, 87]
}

df = pd.DataFrame(data)
print(df)
print("------------------")
# Melt the DataFrame
melted_df = pd.melt(df, id_vars=['ID', 'Name'], var_name='Subject',
                    value_name='Score')

print(melted_df)

   ID     Name  Math_Score  Science_Score  English_Score
0   1    Alice          90             95             89
1   2      Bob          85             80             91
2   3  Charlie          88             92             87
------------------
   ID     Name        Subject  Score
0   1    Alice     Math_Score     90
1   2      Bob     Math_Score     85
2   3  Charlie     Math_Score     88
3   1    Alice  Science_Score     95
4   2      Bob  Science_Score     80
5   3  Charlie  Science_Score     92
6   1    Alice  English_Score     89
7   2      Bob  English_Score     91
8   3  Charlie  English_Score     87

In [ ]:
#2 Melting Specific Columns

# Melt only specific columns
melted_df = pd.melt(df, id_vars=['ID', 'Name'], value_vars=['Math_Score', 'Science_Score'],
                    var_name='Subject', value_name='Score')

print(melted_df)

   ID     Name        Subject  Score
0   1    Alice     Math_Score     90
1   2      Bob     Math_Score     85
2   3  Charlie     Math_Score     88
3   1    Alice  Science_Score     95
4   2      Bob  Science_Score     80
5   3  Charlie  Science_Score     92

In [ ]:
#2 Melting with Multi-level Columns
# Sample data with multi-level columns
data = {
    ('ID', ''): [1, 2, 3],
    ('Name', ''): ['Alice', 'Bob', 'Charlie'],
    ('Scores', 'Math'): [90, 85, 88],
    ('Scores', 'Science'): [95, 80, 92]
}

df = pd.DataFrame(data)
print(df)
print("------------------")
# Melt the DataFrame
melted_df = pd.melt(df, id_vars=[('ID', ''), ('Name', '')],
                    var_name='Subject', value_name='Score')

print(melted_df)

  ID     Name Scores
                Math Science
0  1    Alice     90      95
1  2      Bob     85      80
2  3  Charlie     88      92
------------------
   (ID, ) (Name, ) Subject  Score
0       1    Alice  Scores     90
1       2      Bob  Scores     85
2       3  Charlie  Scores     88
3       1    Alice  Scores     95
4       2      Bob  Scores     80
5       3  Charlie  Scores     92

Concatenating DataFrames in Pandas is a common \
operation when you need to combine multiple\
 datasets either vertically (row-wise) or \
 horizontally (column-wise). Below are examples\
  of how to concatenate DataFrames using \
   pd.concat() function.

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

df2 = pd.DataFrame({
    'A': [7, 8, 9],
    'B': [10, 11, 12]
})

# Concatenate vertically
result = pd.concat([df1, df2], axis=0)

print(result)

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

df2 = pd.DataFrame({
    'A': [7, 8, 9],
    'B': [10, 11, 12]
})

# Concatenate vertically
result = pd.concat([df1, df2], axis=0,ignore_index=True)

print(result)

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

In [ ]:
# Sample DataFrames with different indexes
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}, index=[0, 1, 2])

df2 = pd.DataFrame({
    'A': [7, 8, 9],
    'B': [10, 11, 12]
}, index=[1, 2, 3])

# Concatenate vertically
result = pd.concat([df1, df2], axis=0)

print(result)

   A   B
0  1   4
1  2   5
2  3   6
1  7  10
2  8  11
3  9  12

In [ ]:
# Sample DataFrames
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

df2 = pd.DataFrame({
    'C': [7, 8, 9],
    'D': [10, 11, 12]
})

# Concatenate horizontally
result = pd.concat([df1, df2], axis=1)

print(result)

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

# Merge dataframe

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Age': [25, 30, 35]
})

# Inner join on 'ID'
result = pd.merge(df1, df2, on='ID', how='inner')

print(result)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30

In [ ]:
# Left join on 'ID'
result = pd.merge(df1, df2, on='ID', how='left')

print(result)

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  30.0

In [ ]:
# Right join on 'ID'
result = pd.merge(df1, df2, on='ID', how='right')

print(result)

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30
2   4      NaN   35

In [ ]:
# Outer join on 'ID'
result = pd.merge(df1, df2, on='ID', how='outer')

print(result)

   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  25.0
2   3  Charlie  30.0
3   4      NaN  35.0

In [ ]:
# Sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Dept': ['HR', 'IT', 'Finance']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Name': ['Bob', 'Charlie', 'David'],
    'Salary': [5000, 6000, 7000]
})

# Merge on multiple columns
result = pd.merge(df1, df2, on=['ID', 'Name'], how='inner')

print(result)

   ID     Name     Dept  Salary
0   2      Bob       IT    5000
1   3  Charlie  Finance    6000

In [ ]:
# Sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'EmpID': [2, 3, 4],
    'Age': [25, 30, 35]
})

# Merge with different column names
result = pd.merge(df1, df2, left_on='ID', right_on='EmpID', how='inner')

print(result)

   ID     Name  EmpID  Age
0   2      Bob      2   25
1   3  Charlie      3   30

In [ ]:
# Sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Dept': ['HR', 'IT', 'Finance']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Name': ['Bob', 'Charlie', 'David'],
    'Salary': [5000, 6000, 7000]
})

# Merge with indicator
result = pd.merge(df1, df2, on='ID', how='outer', indicator=True)

print(result)

   ID   Name_x     Dept   Name_y  Salary      _merge
0   1    Alice       HR      NaN     NaN   left_only
1   2      Bob       IT      Bob  5000.0        both
2   3  Charlie  Finance  Charlie  6000.0        both
3   4      NaN      NaN    David  7000.0  right_only

In [ ]:
# Sample DataFrames
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie']
}, index=[1, 2, 3])

df2 = pd.DataFrame({
    'Age': [25, 30, 35]
}, index=[2, 3, 4])

# Merge on index
result = pd.merge(df1, df2, left_index=True, right_index=True, how='inner')

print(result)

      Name  Age
2      Bob   25
3  Charlie   30

# Remove Duplicates

In [ ]:
import pandas as pd

# Sample DataFrame with duplicates
data = {
    'A': [1, 2, 2, 3, 4],
    'B': [5, 6, 6, 7, 8]
}

df = pd.DataFrame(data)

# Remove duplicates
df_no_duplicates = df.drop_duplicates()

print(df_no_duplicates)

   A  B
0  1  5
1  2  6
3  3  7
4  4  8

In [ ]:
# Sample DataFrame
data = {
    'A': [1, 2, 2, 3, 4],
    'B': [5, 6, 7, 7, 8],
    'C': [9, 10, 11, 11, 12]
}

df = pd.DataFrame(data)

# Remove duplicates based on column 'A'
df_no_duplicates = df.drop_duplicates(subset=['A'])

print(df_no_duplicates)

   A  B   C
0  1  5   9
1  2  6  10
3  3  7  11
4  4  8  12

In [ ]:
# Keep the last occurrence of duplicates
df_no_duplicates = df.drop_duplicates(subset=['A'], keep='last')

print(df_no_duplicates)

   A  B   C
0  1  5   9
2  2  7  11
3  3  7  11
4  4  8  12

In [ ]:
# Remove all occurrences of duplicates
df_no_duplicates = df.drop_duplicates(subset=['A'], keep=False)

print(df_no_duplicates)

   A  B   C
0  1  5   9
3  3  7  11
4  4  8  12

Mapping values in a Pandas DataFrame or Series\
 is a common operation that allows you to replace\
  or transform values based on a dictionary,\
   function, or another Series. This is particularly\
    useful for data cleaning, encoding categorical \
    variables, or applying custom transformations

In [ ]:
# Sample DataFrame
data = pd.DataFrame({
    'Fruit': ['apple', 'banana', 'cherry', 'apple'],
    'Quantity': [10, 5, 8, 12]
})

# Mapping dictionary
mapping = {'apple': 'fruit', 'banana': 'fruit', 'cherry': 'berry'}

# Map values in the 'Fruit' column
data['Category'] = data['Fruit'].map(mapping)

print(data)

    Fruit  Quantity Category
0   apple        10    fruit
1  banana         5    fruit
2  cherry         8    berry
3   apple        12    fruit

In [ ]:
# Sample Series
data = pd.Series([1, 2, 3, 4])

# Mapping function
def square(x):
    return x ** 2

# Map values using the function
mapped_data = data.map(square)

print(mapped_data)

0     1
1     4
2     9
3    16
dtype: int64

In [ ]:
# Sample Series
data = pd.Series(['apple', 'banana', 'cherry', 'grape'])

# Mapping dictionary
mapping = {'apple': 'fruit', 'banana': 'fruit', 'cherry': 'berry'}

# Map values with a default value
mapped_data = data.map(mapping).fillna('unknown')

print(mapped_data)

0      fruit
1      fruit
2      berry
3    unknown
dtype: object

In [ ]:
# Sample DataFrame
data = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# Mapping function
def add_one(x):
    return x + 1

# Apply the function to each element in the DataFrame
mapped_data = data.map(add_one)

print(mapped_data)

   A  B
0  2  5
1  3  6
2  4  7

# Splitting a Column into Multiple Columns in Pandas

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['John Smith', 'Jane Doe', 'Bob Johnson'],
    'Info': ['25,New York', '30,Los Angeles', '40,Chicago']
})

# Split 'Info' column into two columns
df[['Age', 'City']] = df['Info'].str.split(',', expand=True)

print(df)

          Name            Info Age         City
0   John Smith     25,New York  25     New York
1     Jane Doe  30,Los Angeles  30  Los Angeles
2  Bob Johnson      40,Chicago  40      Chicago

In [ ]:
# Sample DataFrame with complex strings
df = pd.DataFrame({
    'Code': ['A123-456', 'B987-654', 'C111-222']
})

# Extract parts using regex
df[['Letter', 'FirstNum', 'SecondNum']] = df['Code'].str.extract(r'([A-Z])(\d{3})-(\d{3})')

print(df)

       Code Letter FirstNum SecondNum
0  A123-456      A      123       456
1  B987-654      B      987       654
2  C111-222      C      111       222

In [ ]:
# Sample DataFrame with dates
df = pd.DataFrame({
    'Date': ['2023-01-15', '2023-02-20', '2023-03-25']
})

# Convert to datetime and extract components
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

print(df)

        Date  Year  Month  Day
0 2023-01-15  2023      1   15
1 2023-02-20  2023      2   20
2 2023-03-25  2023      3   25

In [ ]:
# Sample DataFrame
df = pd.DataFrame({
    'Coordinates': ['40.7128,-74.0060', '34.0522,-118.2437', '41.8781,-87.6298']
})

# Split and assign to new columns
df = df.assign(
    Latitude=lambda x: x['Coordinates'].str.split(',').str[0],
    Longitude=lambda x: x['Coordinates'].str.split(',').str[1]
)

print(df)

         Coordinates Latitude  Longitude
0   40.7128,-74.0060  40.7128   -74.0060
1  34.0522,-118.2437  34.0522  -118.2437
2   41.8781,-87.6298  41.8781   -87.6298

# Creating Bins for Numeric Data in Pandas

In [ ]:
import pandas as pd
import numpy as np

# Sample data
df = pd.DataFrame({'Age': [18, 22, 25, 27, 30, 35, 40, 45, 50, 55, 60, 65]})

# Create 3 equal-width bins
df['Age_Group'] = pd.cut(df['Age'], bins=3)

print(df)

    Age         Age_Group
0    18  (17.953, 33.667]
1    22  (17.953, 33.667]
2    25  (17.953, 33.667]
3    27  (17.953, 33.667]
4    30  (17.953, 33.667]
5    35  (33.667, 49.333]
6    40  (33.667, 49.333]
7    45  (33.667, 49.333]
8    50    (49.333, 65.0]
9    55    (49.333, 65.0]
10   60    (49.333, 65.0]
11   65    (49.333, 65.0]

In [ ]:
# Define custom bin edges
bins = [0, 20, 30, 40, 50, 60, 100]
labels = ['0-20', '21-30', '31-40', '41-50', '51-60', '61+']

df['Age_Category'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

print(df[['Age', 'Age_Category']])

    Age Age_Category
0    18         0-20
1    22        21-30
2    25        21-30
3    27        21-30
4    30        31-40
5    35        31-40
6    40        41-50
7    45        41-50
8    50        51-60
9    55        51-60
10   60          61+
11   65          61+

In [ ]:
#Quantile-Based Binning with pd.qcut()
# Create 4 quantile-based bins
df['Age_Quantile'] = pd.qcut(df['Age'], q=4, precision=0)

print(df[['Age', 'Age_Quantile']])

    Age  Age_Quantile
0    18  (17.0, 26.0]
1    22  (17.0, 26.0]
2    25  (17.0, 26.0]
3    27  (26.0, 38.0]
4    30  (26.0, 38.0]
5    35  (26.0, 38.0]
6    40  (38.0, 51.0]
7    45  (38.0, 51.0]
8    50  (38.0, 51.0]
9    55  (51.0, 65.0]
10   60  (51.0, 65.0]
11   65  (51.0, 65.0]

In [ ]:
# Define bins and custom labels
bins = [0, 30, 45, 65, 100]
labels = ['Young', 'Adult', 'Middle-aged', 'Senior']

df['Life_Stage'] = pd.cut(df['Age'], bins=bins, labels=labels)

print(df[['Age', 'Life_Stage']])

    Age   Life_Stage
0    18        Young
1    22        Young
2    25        Young
3    27        Young
4    30        Young
5    35        Adult
6    40        Adult
7    45        Adult
8    50  Middle-aged
9    55  Middle-aged
10   60  Middle-aged
11   65  Middle-aged

In [ ]:
# Create logarithmic bins
df['Log_Age'] = np.log(df['Age'])
df['Log_Bin'] = pd.cut(df['Log_Age'], bins=3)

print(df[['Age', 'Log_Bin']])

    Age         Log_Bin
0    18  (2.889, 3.318]
1    22  (2.889, 3.318]
2    25  (2.889, 3.318]
3    27  (2.889, 3.318]
4    30  (3.318, 3.746]
5    35  (3.318, 3.746]
6    40  (3.318, 3.746]
7    45  (3.746, 4.174]
8    50  (3.746, 4.174]
9    55  (3.746, 4.174]
10   60  (3.746, 4.174]
11   65  (3.746, 4.174]

In [ ]:
df = pd.DataFrame({'Score': [85, 92, 78, np.nan, 65, 88, np.nan, 95]})
bins = [0, 70, 80, 90, 100]
labels = ['D', 'C', 'B', 'A']

df['Grade'] = pd.cut(df['Score'], bins=bins, labels=labels)
df['Grade'] = df['Grade'].cat.add_categories('Missing').fillna('Missing')
df

   Score    Grade
0   85.0        B
1   92.0        A
2   78.0        C
3    NaN  Missing
4   65.0        D
5   88.0        B
6    NaN  Missing
7   95.0        A

In [ ]:
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5, 1000]})
bins = [-np.inf,1, 3, 5, np.inf]
labels = ['Very Low','Low', 'Medium', 'High']

df['Category'] = pd.cut(df['Values'], bins=bins, labels=labels)
df

   Values  Category
0       1  Very Low
1       2       Low
2       3       Low
3       4    Medium
4       5    Medium
5    1000      High

One-hot encoding is a technique to convert categorical variables into a binary (0/1) matrix representation, which is essential for most machine learning algorithms.

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Color': ['Red', 'Blue', 'Green', 'Blue', 'Red'],
    'Size': ['S', 'M', 'L', 'M', 'XL']
})

# One-hot encode the 'Color' column
encoded_df = pd.get_dummies(df, columns=['Color'])

print(encoded_df)

  Size  Color_Blue  Color_Green  Color_Red
0    S       False        False       True
1    M        True        False      False
2    L       False         True      False
3    M        True        False      False
4   XL       False        False       True

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Color': ['Red', 'Blue', 'Green', 'Blue', 'Red'],
    'Size': ['S', 'M', 'L', 'M', 'XL']
})

# One-hot encode the 'Color' column
encoded_df = pd.get_dummies(df, columns=['Color','Size'],prefix=['col','S'])

print(encoded_df)

   col_Blue  col_Green  col_Red    S_L    S_M    S_S   S_XL
0     False      False     True  False  False   True  False
1      True      False    False  False   True  False  False
2     False       True    False   True  False  False  False
3      True      False    False  False   True  False  False
4     False      False     True  False  False  False   True

In [ ]:
# Drop first category to avoid multicollinearity
encoded_df = pd.get_dummies(df, columns=['Color'], drop_first=True,sparse=True)

print(encoded_df)

  Size  Color_Green  Color_Red
0    S        False       True
1    M        False      False
2    L         True      False
3    M        False      False
4   XL        False       True

In [ ]:
#2
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'City': ['New York', 'Los Angeles'],
    'Jan': [42, 68],
    'Feb': [45, 70],
    'Mar': [53, 72]
}).set_index('City')

print("Original DataFrame:")
print(df)

# Stack the DataFrame
stacked = df.stack()
print("\nStacked DataFrame:")
print(stacked)

Original DataFrame:
             Jan  Feb  Mar
City
New York      42   45   53
Los Angeles   68   70   72

Stacked DataFrame:
City
New York     Jan    42
             Feb    45
             Mar    53
Los Angeles  Jan    68
             Feb    70
             Mar    72
dtype: int64

In [ ]:
# Create DataFrame with multi-level columns
tuples = [('Temp', 'High'), ('Temp', 'Low'), ('Humidity', '%')]
columns = pd.MultiIndex.from_tuples(tuples)
data = [
    [75, 55, 60],
    [85, 65, 50],
    [80, 60, 55]
]
df = pd.DataFrame(data, index=['Mon', 'Tue', 'Wed'], columns=columns)

print("\nOriginal MultiIndex DataFrame:")
print(df)

# Stack the inner level
stacked = df.stack(level=0)
print("\nStacked MultiIndex DataFrame:")
print(stacked)

Original MultiIndex DataFrame:
    Temp     Humidity
    High Low        %
Mon   75  55       60
Tue   85  65       50
Wed   80  60       55

Stacked MultiIndex DataFrame:
              High   Low     %
Mon Humidity   NaN   NaN  60.0
    Temp      75.0  55.0   NaN
Tue Humidity   NaN   NaN  50.0
    Temp      85.0  65.0   NaN
Wed Humidity   NaN   NaN  55.0
    Temp      80.0  60.0   NaN

<ipython-input-24-987e83ab018d>:15: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  stacked = df.stack(level=0)

In [ ]:
# Using our previous stacked temperature data
print("\nStacked Data:")
print(stacked)

# Unstack the data
unstacked = stacked.unstack()
print("\nUnstacked Data:")
print(unstacked)

Stacked Data:
              High   Low     %
Mon Humidity   NaN   NaN  60.0
    Temp      75.0  55.0   NaN
Tue Humidity   NaN   NaN  50.0
    Temp      85.0  65.0   NaN
Wed Humidity   NaN   NaN  55.0
    Temp      80.0  60.0   NaN

Unstacked Data:
        High            Low              %
    Humidity  Temp Humidity  Temp Humidity Temp
Mon      NaN  75.0      NaN  55.0     60.0  NaN
Tue      NaN  85.0      NaN  65.0     50.0  NaN
Wed      NaN  80.0      NaN  60.0     55.0  NaN

In [ ]:
# Create a multi-index Series
index = pd.MultiIndex.from_tuples([
    ('New York', 'Jan'), ('New York', 'Feb'),
    ('Los Angeles', 'Jan'), ('Los Angeles', 'Feb')
])
temps = pd.Series([42, 45, 68, 70], index=index, name='Temperature')

print("\nMultiIndex Series:")
print(temps)

# Unstack the city level (level 0)
unstacked_city = temps.unstack(level=0)
print("\nUnstacked by City:")
print(unstacked_city)

# Unstack the month level (level 1)
unstacked_month = temps.unstack(level=1)
print("\nUnstacked by Month:")
print(unstacked_month)

MultiIndex Series:
New York     Jan    42
             Feb    45
Los Angeles  Jan    68
             Feb    70
Name: Temperature, dtype: int64

Unstacked by City:
     Los Angeles  New York
Feb           70        45
Jan           68        42

Unstacked by Month:
             Feb  Jan
Los Angeles   70   68
New York      45   42

#Cross-Tabulation in Pandas
Cross-tabulation (or crosstab) is a powerful tool for summarizing and analyzing the relationship between categorical variables. Pandas provides the pd.crosstab() function to create frequency tables that show the distribution of variables.

In [ ]:
import pandas as pd

# Sample data
data = {
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Preference': ['Tea', 'Coffee', 'Coffee', 'Tea', 'Coffee', 'Tea']
}

df = pd.DataFrame(data)

# Create crosstab
ct = pd.crosstab(df['Gender'], df['Preference'])
print(ct)

Preference  Coffee  Tea
Gender
Female           1    2
Male             2    1

In [ ]:
ct_margins = pd.crosstab(df['Gender'], df['Preference'], margins=True)
print(ct_margins)

Preference  Coffee  Tea  All
Gender
Female           1    2    3
Male             2    1    3
All              3    3    6

In [ ]:
# Add age group data
df['AgeGroup'] = ['Young', 'Young', 'Old', 'Old', 'Young', 'Old']

ct_multi = pd.crosstab([df['Gender'], df['AgeGroup']], df['Preference'])
print(ct_multi)

Preference       Coffee  Tea
Gender AgeGroup
Female Old            0    2
       Young          1    0
Male   Old            1    0
       Young          1    1

In [ ]:
# Add numerical data
df['Satisfaction'] = [3, 5, 4, 4, 2, 5]

ct_agg = pd.crosstab(df['Gender'], df['Preference'],
                    values=df['Satisfaction'],
                    aggfunc='mean')
print(ct_agg)

Preference  Coffee  Tea
Gender
Female         5.0  4.5
Male           3.0  3.0

# Rolling Window Calculations in Pandas
Rolling window calculations are essential for time series analysis, allowing you to compute metrics over moving periods of time. Pandas provides powerful rolling window functionality through the .rolling() method.

In [ ]:
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=5), 'Value': [1, 2, 3, 4, 5]})
df = df.set_index('Date')
# resampled_df = df.resample('2D').sum()
# print(resampled_df)
df['Rolling Mean'] = df['Value'].rolling(window=2).mean()
print(df)

            Value  Rolling Mean
Date
2023-01-01      1           NaN
2023-01-02      2           1.5
2023-01-03      3           2.5
2023-01-04      4           3.5
2023-01-05      5           4.5

In [ ]:
import pandas as pd
import numpy as np

# Create a sample time series
dates = pd.date_range('2023-01-01', periods=10)
data = pd.Series([3, 6, 2, 9, 5, 7, 4, 8, 1, 5], index=dates)

# 3-day rolling mean
rolling_mean = data.rolling(window=3).mean()
print("Rolling Mean:\n", rolling_mean)

# 3-day rolling sum
rolling_sum = data.rolling(window=3).sum()
print("\nRolling Sum:\n", rolling_sum)

Rolling Mean:
 2023-01-01         NaN
2023-01-02         NaN
2023-01-03    3.666667
2023-01-04    5.666667
2023-01-05    5.333333
2023-01-06    7.000000
2023-01-07    5.333333
2023-01-08    6.333333
2023-01-09    4.333333
2023-01-10    4.666667
Freq: D, dtype: float64

Rolling Sum:
 2023-01-01     NaN
2023-01-02     NaN
2023-01-03    11.0
2023-01-04    17.0
2023-01-05    16.0
2023-01-06    21.0
2023-01-07    16.0
2023-01-08    19.0
2023-01-09    13.0
2023-01-10    14.0
Freq: D, dtype: float64